/* Colors ---------------------------------------------- */
$ehs_site-bkgd:#611212;
$ehs-site-leftborder:#B1B1B1; //rgb(177,177,177);
$ehs-site-rightborder:#6E6E6E; //rgb(110,110,100);
$ehs_lhsidebar-bkgd:#D4D4D4;//rgb(212,212,212);
$ehs_rhsidebar-bkgd:#b2b2b2; //rgb(178, 178,178);
$ehs_dkmaroon-bkgd:#660000;
$ehs_footerbkg: #6E6E6E;

$ehs_topnavcolor:#D6D4D4;
$ehs_linkcolor:#611212;
$ehs_fontcolor:#666;
$ehs_copyrightcolor: #000000;


/* Typography ------------------------------------------ */